h1 {
    text-align: center;
}
.purple {
    background-color: #FED1FF;
}
.pig {
    background-color: #FFCBDB;
}
.green {
    background-color: #F0FFF0;
}
img {
    display: block;
    margin: auto;
}